<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div calss="row">
        <div class="user-info ui left aligned basic segment">
            <div class="ui grid">
                <div class="six wide column">
                    <img class="ui avatar image" />
                </div>
                <div class="six wide column"></div>
                <div class="four wide column">
                    <i class="add user icon"></i>
                    <!--<a th:href="@{'/users/' + ${user.username} + '/update'}">-->
                        <!--<button class="ui right floated button">Update</button>-->
                    <!--</a>-->
                </div>
            </div>

            <div class="ui grid">
                <div class="six wide column">
                    <a th:text="${user.username}" th:href="@{'/users/' + ${user.username} + '/update'}"></a>
                </div>
                <div class="six wide column"></div>
                <div class="four wide column">
                    <a th:href="@{/}">
                        <h5>Watching List</h5>
                    </a>
                </div>
            </div>
            <div th:if="${nameRateMap.size() > 0}">
                <div class="ui grid">
                    <div class="one wide column">
                    </div>
                    <div class="eleven wide column">
                        <fieldset>
                            <legend>Watched Movie List</legend>
                            <table class="ui celled table">
                                <thead>
                                <tr>
                                    <th>Movie Name</th>
                                    <th>Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="nameRate : ${nameRateMap}">
                                    <td th:text="${nameRate.key}"></td>
                                    <td th:text="${nameRate.value}"></td>
                                </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>

                        </fieldset>
                    </div>
                    <div class="four wide column">
                    </div>
                </div>
            </div>

            <div class="ui row">
                <h1></h1>
            </div>

            <div class="users-wrapper">
                <div class="ui basic segment">
                    <div class="ui link cards">
                        <div class="ui grid">
                            <th:block th:each="user : ${similarUsers}">
                                <div class="five wide column">
                                    <div class="ui card">
                                        <div class="content" >
                                            <div class="description"><a th:href="@{'/users/' + ${user.id}}" th:text="${user.username}"/></div>
                                            Age:<div class="information" th:text="${user.age}"></div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</th:block>
</html>