<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div class="movies-wrapper">
        <div class="ui basic segment">
            <div class="ui link cards">
                <div class="ui grid">
                    <th:block th:each="movie : ${movies}">
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="content" >
                                    <div class="header"><a th:href="@{'/movies/' + ${movie.id}}" th:text="${movie.movieName}" /></div>
                                    <div class="meta">
                                        <i class="add square icon"></i>
                                    </div>
                                    <div class="description" th:text="${movie.catName}"></div>
                                    <div class="information" th:text="${movie.year}"></div>
                                    <div class="information" th:text="${movie.avgRate}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>