<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div class="ui divided items">

        <div class="item">

            <img class="ui circular image" th:src="${movie.poster}"/>

            <div class="content movieDetail">
                <input type="hidden" name="id" th:value="${movie.id}"/>

               <font  th:size="6">
                   <a class="header" th:text="${movie.movieName}"></a>
               </font>

                <div class="description">
                    <!--<p><i th:text="${movie.catName}"></i></p>-->
                    <!--<p th:text="${movie.year}"></p>-->

                    <h2 th:inline="text" >
                        [[${movie.catName}]] -
                        <small th:text="${movie.year}">Year</small>
                    </h2>

                    <!--Imdb Rate:<p id="imdbRate" th:text="${movie.imdbRate}"></p>-->
                    <!--Average Rate:<p id="rate" th:if="${movie.avgRate} > 0" th:text="${#numbers.formatDecimal(movie.avgRate, 1, 1)}"></p>-->
                </div>

                <div class="row" id="imdbRateRow">
                    <h4 th:inline="text" >
                        Imdb Rate:
                        <small th:text="${movie.imdbRate}"></small>
                    </h4>

                </div>

                <div class="row" id="avgRateRow" th:if="${movie.avgRate} > 0">
                    <h4 th:inline="text">
                        Average Rate:
                        <small id="rate" th:text="${#numbers.formatDecimal(movie.avgRate, 1, 1)}"></small>
                    </h4>
                </div>


                <div class="ui huge star rating" th:attr="data-rating=${userRate.intValue()}" data-max-rating="5"></div>

                <!--<div class="extra">-->
                    <!--<div class="ui right floated">-->
                       <!--See Trailer-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <h1>You can also watch these movies...</h1>
    <div class="movies-wrapper">
        <div class="ui basic segment">
            <div class="ui link cards">
                <div class="ui grid">
                    <th:block th:each="movie : ${catMovies}">
                        <div class="three wide column">
                            <div class="ui card">
                                <div class="image">
                                    <img th:src="${movie.poster}"/>
                                </div>
                                <div class="content" >
                                    <div class="header"><a th:href="@{'/movies/' + ${movie.id}}" th:text="${movie.movieName}" /></div>
                                    <div class="meta">
                                        <i class="add square icon"></i>
                                    </div>
                                    <div class="description" th:text="${movie.catName}"></div>
                                    <div class="information" th:text="${movie.year}"></div>
                                    <div class="information" th:if="${movie.avgRate > 0}" th:text="${#numbers.formatDecimal(movie.avgRate, 1, 1)}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const movieId = [[${movie.id}]];
        const userId = [[${user.id}]];
        /*]]>*/

        const rate = $('.ui.rating');
        rate.rating();
        rate.click(function () {
            const rateValue = rate.rating('get rating');
            const rateObject = {
                rate: rateValue,
                movieId: movieId,
                userId: userId
            };

            $.ajax({
                type: "POST",
                url: "/movies/" + movieId + "/rates",
                data: JSON.stringify(rateObject),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                success: function(data) {
                    const rateField = document.getElementById('rate');
                    if (rateField == null) {
                        $('<div class="row" id="avgRateRow"><h4 th:inline="text">Average Rate: <small id="rate">' + data.toFixed(1) + '</small></h4></div>').insertAfter('#imdbRateRow');
                    } else {
                        document.getElementById('rate').innerHTML = data.toFixed(1);
                    }
                }
            });
        })
    </script>

</th:block>
</html>