<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<th:block layout:fragment="content">

    <div class="movies-wrapper">
        <div class="ui basic segment">
            <div class="ui link cards">
                <div class="ui grid">
                    <th:block th:each="movie : ${movies}">
                        <div class="four wide column">
                            <div class="ui card">
                                <div class="image">
                                    <img th:src="${movie.poster}"/>
                                </div>
                                <div class="content" >
                                    <div class="header"><a th:href="@{'/movies/' + ${movie.id}}" th:text="${movie.movieName}" /></div>
                                    <div class="meta">
                                        <button class="ui adding button">
                                            <i class="add square icon"></i>
                                                Add
                                        </button>

                                    </div>
                                    <div class="description" th:text="${movie.catName}"></div>
                                    <div class="information" th:text="${movie.year}"></div>
                                    <div class="information" th:if="${movie.avgRate > 0}" th:text="${#numbers.formatDecimal(movie.avgRate, 1, 1)}"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <div class="ui right floated pagination menu">
        <a class="icon item">
            <i class="left chevron icon"></i>
        </a>
        <a class="item" th:each="i:${#numbers.sequence(1, size)}" th:text="${i}" th:href="'movies?page=' + ${i}">
        </a>
        <a class="icon item">
            <i class="right chevron icon"></i>
        </a>
    </div>

</th:block>
</html>